<!DOCTYPE html>

<html>
<head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
            href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
            rel="icon"
            type="image/png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<h1>URL Shortener Microservice</h1>
<p>Example: POST [project_url]/api/shorturl - https://www.google.com</p>
<main>
    <section>
        <form action="api/shorturl" method="POST">
            <fieldset>
                <legend>URL Shortener</legend>
                <label for="url_input">URL:</label>
                <input id="url_input" name="url" placeholder="https://www.freecodecamp.org/" type="text"/>
                <input type="submit" value="POST URL"/>
            </fieldset>
        </form>
    </section>
</main>
<h2>Example Usage:</h2>
<p>[this_project_url]/api/shorturl/[short_url_id]</p>
<p>Will redirect back to the original url.</p>
<footer>
    <p>
        My <a href="https://github.com/VladimirTaDev/URL-Shortener-Microservice">GitHub repository</a>
    </p>
    <p>
        By <a href="https://www.freecodecamp.org/vladimir_ta/">Vladimir Tarassenko</a>
    </p>
    <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
</footer>
</body>
</html>
